html, body {
  font-family: "Ubuntu", sans-serif;
  margin:0px;
  padding:0px;
  height:100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin-bottom: -40px;
}

h2 {
  margin-bottom:10px;
}

.page {
  margin: 0 auto;
  max-width:960px;
  color:#333;
}

.page_inner {
  padding:20px;
  margin-bottom:20px;
}

.published {
  color:#666;
  font-size:14px;
}

.logo-bound-top {
  padding:10px;
}

.logo-bound-side {
  padding:20px;
}

.logo {
  width:42px;
  height:42px;
  float:left;
  background: url(img/solarhouse.png);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor:pointer;
}

.logo:hover {
  background: url(img/solarhouse-blue.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.logo-title {
  padding:12px;
  float:left;  
}

.menu-item {
  padding:8px 0px 8px 20px;
}

.menu-title {
  padding:15px 0px 15px 20px;
  background-color:rgba(0,0,0,0.05);
  cursor:pointer;
  margin-bottom:1px;
}

.menu-title:hover {
  background-color:rgba(0,0,0,0.07);
}

.menu-items {
  padding:10px 0px 10px 0px;
}

a {
  text-decoration:none;
  color:#666;
}

a:visited {
  color:#666;
}

a:hover {
  color:#6bace3;
}

img {
  width:100%;
}

#footer {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    padding-top:10px;
    height: 30px;
}

pre {
  border: 1px solid #ffffff;
  background-color: #eee;
  padding: 20px;
  overflow-x: auto;
  text-align: left;
}

.table {
    width:100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table td {
    border-top: 1px solid #DDD;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    line-height: 20px;
    vertical-align: top;
}

.table th {
    text-align:left;
    border-top: 1px solid #DDD;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    line-height: 20px;
    vertical-align: top;
}

.sidenav {
  width: 300px;
  max-height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  color:#aaa;
  float: left;
  text-align:left;
  background-color: whitesmoke;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1000;
}

.sidenav_inner {
  box-sizing: border-box;
  padding: 0;
  width: 300px;
}

.topnav {
  height:65px;
  display: block;
  color:#aaa;
  text-align:left;
  background-color: whitesmoke;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topnav_inner {
  box-sizing: border-box;
  padding: 0;
}

.quote {
  border: 1px solid #ffffff;
  background-color: #eee;
  padding: 20px;
  overflow-x: auto;
  text-align: left;
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.loading {
  padding:20px;
  background-color:whitesmoke;
  text-align:center;
}
