<style>
h3 { 
    color:#0699fa;
    margin:0px;
}

hr {
    background: #0699fa;
    border: 0; height: 1px; 
    margin-top:8px;
    margin-bottom:8px;
}

table {
    width:auto
}

table th {
    text-align:left;
    border: 0px solid #ddd;
    padding:6px 13px;
}

table td {
    text-align:left;
    border: 0px solid #ddd;
    padding:6px 13px;
}

.box {
    width:100%;
    background-color:rgba(68,179,226,0.1);
    margin-right:20px;
    margin-bottom:20px;
}

.inner {
    padding:20px;
    color:#333;
    display:none;
}

.box-title {
    background-color:rgba(68,179,226,1.0);
    padding:10px;
    color:#fff;
    cursor:pointer;
}

.icon-expand {
    width:12px; 
    margin-right:10px;
    margin-top:2px;
}
 
input[type='text'] {
    width:70px;
}    
</style>

<div id="app">

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>ZERO CARBON BRITAIN HOURLY MODEL v3</b><div class="loading_prc" style="float:right">Loading...</div></div>
    <div class="inner" style="display:block">
<div style="font-size:14px"><b>Note:</b> This hourly energy model is designed to be used in conjunction with the ZeroCarbonBritain matrix spreadsheet, which both provides background calculation for many of the inputs and makes use of the model outputs.</div><br>
    
        View:
        
        <button @click="pan_left"><</button>
        <button @click="pan_right">></button>
        <button @click="zoom_out">-</button>
        <button @click="zoom_in">+</button>
        <button @click="reset">reset</button>
        <button @click="view_mode('electricity')">Electricity Balance</button>
        <button @click="view_mode('stores')">Stores</button>
        <button @click="view_mode('backup')">Backup</button>
        <button @click="view_mode('heat')">Heat</button>    
          
        <div id="placeholder_bound" style="width:100%">
            <div id="placeholder"></div>
        </div>
        
        <br>
        
        Select scenario: 
        <select id="select_scenario">
        </select>
                
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>SUPPLY</b></div>
    <div class="inner">
        <div style="font-size:14px">The following renewable supply mix is detailed in full on page 57-61 of the ZCB report. Capacities reflect proportions of available resource e.g: the Offshore Valuation Group report (2010) estimates that we could produce more than 1,500 TWh/year from floating offshore wind turbines, 400 TWh/year from fixed offshore wind turbines, 40 TWh/year from wave power and 116 TWh/year from tidal stream. The ZCB scenario suggests that only a proportion of this potential would need to be developed. 
        
        </div><br>

        <table class="table" style="width:100%">
        <tr>
          <th></th>
          <th>GW cap.</th>
          <th>TWh/yr</th>
          <th>CF</th>
          <th>availability</th>
        </tr>
        <tr>
          <td>Offshore wind</td>
          <td><input v-model.number="i.supply.offshore_wind_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_offshore_wind | format_energy }} <span class="unit">TWh/yr</span></td>
          <td>{{ o.supply.offshore_wind_capacity_factor | format_prc }} <span class="unit">%</span></td>
          <td><input v-model.number="i.supply.offshore_wind_availability" type="text" @change="update" /></td>
        </tr>
        <tr>
          <td>Onshore wind</td>
          <td><input v-model.number="i.supply.onshore_wind_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_onshore_wind | format_energy }} <span class="unit">TWh/yr</span></td>
          <td>{{ o.supply.onshore_wind_capacity_factor | format_prc }} <span class="unit">%</span></td>
          <td><input v-model.number="i.supply.onshore_wind_availability" type="text" @change="update" /></td>
        </tr>
        <tr>
          <td>Wave</td>
          <td><input v-model.number="i.supply.wave_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_wave | format_energy }} <span class="unit">TWh/yr</span></td>
          <td>{{ o.supply.wave_capacity_factor | format_prc }} <span class="unit">%</span></td>
          <td></td>
        </tr>
        <tr>
          <td>Tidal (range + stream)</td>
          <td><input v-model.number="i.supply.tidal_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_tidal | format_energy }} <span class="unit">TWh/yr</span></td>
          <td>{{ o.supply.tidal_capacity_factor | format_prc }} <span class="unit">%</span></td>
          <td></td>
        </tr>
        <tr>
          <td>Hydro</td>
          <td><input v-model.number="i.supply.hydro_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_hydro | format_energy }} <span class="unit">TWh/yr</span></td>
          <td><input v-model.number="i.supply.hydro_capacity_factor" type="text" @change="update" /></td>
          <td></td>
        </tr>
        <tr>
          <td>Solar PV</td>
          <td><input v-model.number="i.supply.solarpv_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_solarpv | format_energy }} <span class="unit">TWh/yr</span></td>
          <td>{{ o.supply.solarpv_capacity_factor | format_prc }} <span class="unit">%</span></td>
          <td></td>
        </tr>
        <tr>
          <td>Solar Thermal (heat)</td>
          <td><input v-model.number="i.supply.solarthermal_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_solarthermal | format_energy }} <span class="unit">TWh/yr</span></td>
          <td>{{ o.supply.solarthermal_capacity_factor | format_prc }} <span class="unit">%</span></td>
          <td></td>
        </tr>
        <tr>
          <td>Geo Thermal Electricity</td>
          <td><input v-model.number="i.supply.geothermal_elec_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_geothermal_elec | format_energy }} <span class="unit">TWh/yr</span></td>
          <td><input v-model.number="i.supply.geothermal_elec_capacity_factor" type="text" @change="update" /></td>
          <td></td>
        </tr>
        <tr>
          <td>Geo Thermal Heat</td>
          <td><input v-model.number="i.supply.geothermal_heat_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_geothermal_heat | format_energy }} <span class="unit">TWh/yr</span></td>
          <td><input v-model.number="i.supply.geothermal_heat_capacity_factor" type="text" @change="update" /></td>
          <td></td>
        </tr>   
        <tr>
          <td>Nuclear</td>
          <td><input v-model.number="i.supply.nuclear_capacity" type="text" @change="update" /></td>
          <td>{{ o.supply.total_nuclear | format_energy }} <span class="unit">TWh/yr</span></td>
          <td><input v-model.number="i.supply.nuclear_capacity_factor" type="text" @change="update" /></td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Grid loss</td>
            <td><input v-model.value="i.supply.grid_loss_prc" type="text" @change="update" style="width:70px"  autocomplete="off"/></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Biomass for biogas</td>
            <td><input v-model.value="i.biomass_for_biogas" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Anaerobic digestion efficiency</td>
            <td><input v-model.value="i.anaerobic_digestion_efficiency" type="text" @change="update" style="width:70px"  autocomplete="off"/></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </table>
        
        <div style="font-size:14px"><i>* Solar thermal is given in GW solar PV equivalent, actual capacity is much smaller and capacity factor higher.</i></div>       
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>LIGHTING, APPLIANCES & COOKING</b></div>
    <div class="inner">
        <div style="font-size:14px">Domestic Lighting & Appliance electricity demand in 2007 was 86 TWh, falling to 76 TWh in 2017, ZCB Scenario projects 55% reduction from 2007 as a result of LED lighting and more efficient appliances. Service sector Lighting & Appliance demand was 59 TWh in 2007 increasing to 71 TWh in 2017, ZCB scenario projects 30% reduction from 2007. Cooling demand was 9 TWh in 2007, increasing to 13 TWh in 2017, scenario projects falling cooling energy demand based on increasing cooling efficiency.<br><br>
        Projected scenario domestic cooking electricity consumption: 10.47 TWh, Catering electricity consumption: 16.85 TWh. In 2007 and 2017 these were: 15 TWh, 22 TWh and 14 TWh, 21 TWh respectively.
        </div>
        
        <table class="table" style="width:100%">
        <tr>
            <th width="40%"></th>
            <th width="20%">Annual demand</th>
            <th width="20%">% Reduction vs 2007</th>
            <th width="20%"></th>
        </tr>
        <tr>
            <td>Domestic Lighting & Appliances</td>
            <td><input v-model.value="i.LAC.domestic.lighting_and_appliances_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh/yr</td>   
            <td>{{ (1-i.LAC.domestic.lighting_and_appliances_TWhy/86)*100 | toFixed(0) }}%</td>
            <td>{{ o.domestic_appliances_kwh | toFixed(0) }} kWh/household</td>
        </tr>
        <tr>
            <td>Domestic Cooking</td>
            <td><input v-model.value="i.LAC.domestic.cooking_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh/yr</td>
            <td>{{ (1-i.LAC.domestic.cooking_TWhy/15)*100 | toFixed(0) }}%</td>
            <td>{{ o.domestic_cooking_kwh | toFixed(0) }} kWh/household</td>
        </tr>
        <tr>
            <td>Services Lighting & Appliances</td>
            <td><input v-model.value="i.LAC.services.lighting_and_appliances_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh/yr</td>
            <td>{{ (1-i.LAC.services.lighting_and_appliances_TWhy/59)*100 | toFixed(0) }}%</td>
            <td></td> 
        </tr>
        <tr>
            <td>Services Catering</td>
            <td><input v-model.value="i.LAC.services.catering_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh/yr</td>
            <td>{{ (1-i.LAC.services.catering_TWhy/22)*100 | toFixed(0) }}%</td>
            <td></td>
        </tr>
        <tr>
            <td>Services Cooling</td>
            <td><input v-model.value="i.LAC.services.cooling_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh/yr</td>
            <td>{{ (1-i.LAC.services.cooling_TWhy/9)*100 | toFixed(0) }}%</td>
            <td></td>
        </tr>
        </table>
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>SPACE / WATER HEAT DEMAND</b></div>
    <div class="inner">
        <p><b>1. Space Heating</b></p>
                
        <p>Space heat base temperature: <input v-model.value="i.space_heating.base_temperature" type="text" @change="update" style="width:70px"  autocomplete="off" /> K<br><span style="font-size:14px">Uses 16.7°C as average internal temp. and gains& losses from DECC 2050</span></p>

        <table class="table" style="width:100%">
        <tr>
            <th width="20%"></th>
            <th width="20%"></th>
            <th width="20%">Annual demand</th>
            <th width="20%">% Reduction vs 2007</th>
            <th width="20%"></th>
        </tr>
        <tr>
            <td>Domestic</td>
            <td><input v-model.value="i.space_heating.domestic_demand_GWK" type="text" @change="update" style="width:70px"  autocomplete="off" /> GW/K</td>
            <td>{{ o.total_domestic_space_heat_demand*0.0001 | toFixed(1) }} TWh/yr</td>
            <td>{{ o.prc_reduction_domestic_space_heat_demand*100 | toFixed(0) }}%</td>
            <td>{{ o.domestic_space_heating_kwh | toFixed(0) }} kWh/household</td>
        </tr>
        <tr>
            <td>Services</td>
            <td><input v-model.value="i.space_heating.services_demand_GWK" type="text" @change="update" style="width:70px"  autocomplete="off" /> GW/K</td>
            <td>{{ o.total_services_space_heat_demand*0.0001 | toFixed(1) }} TWh/yr</td>
            <td>{{ o.prc_reduction_services_space_heat_demand*100 | toFixed(0) }}%</td>
            <td></td>
        </tr>
        <tr>
            <td>Industry</td>
            <td><input v-model.value="i.space_heating.industry_demand_GWK" type="text" @change="update" style="width:70px"  autocomplete="off" /> GW/K</td>
            <td>{{ o.total_industry_space_heat_demand*0.0001 | toFixed(1) }} TWh/yr</td>
            <td>{{ o.prc_reduction_industry_space_heat_demand*100 | toFixed(0) }}%</td>
            <td></td>
        </tr>
        <tr>
            <td>Combined</td>
            <td>{{ o.space_heat_demand_GWK | toFixed(3) }} GW/K</td>
            <td>{{ o.total_space_heat_demand*0.0001 | toFixed(1) }} TWh/yr</td>     
            <td>{{ o.prc_reduction_space_heat_demand*100 | toFixed(0) }}%</td>
            <td></td>
        </tr>
        </table>
         
        <p><b>2. Water Heating</b></p>
        
        <table class="table" style="width:100%">
        <tr>
            <td width="20%">Domestic</td>
            <td width="20%"></td>
            <td width="20%"><input v-model.value="i.water_heating.domestic_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td width="20%">{{ (1-i.water_heating.domestic_TWhy/71)*100 | toFixed(0) }}%</td>
            <td width="20%">{{ o.domestic_water_heating_kwh | toFixed(0) }} kWh/household</td>
        </tr>
        <tr>
            <td>Services</td>
            <td></td>
            <td><input v-model.value="i.water_heating.services_TWhy" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td>{{ (1-i.water_heating.services_TWhy/16)*100 | toFixed(0) }}%</td>
            <td></td>
        </tr>
        <tr>
            <td>Combined</td>
            <td></td>
            <td>{{ o.water_heating | toFixed(1) }} TWh</td>
            <td></td>
            <td></td>
        </tr>
        </table>
    </div>
</div>
<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>HEATING SYSTEMS</b></div>
    <div class="inner">
        <table class="table" style="width:100%">  
            <tr>
                <th></th>
                <th>Share</th>
                <th>Heat demand</th>         
                <th>Efficiency</th>
                <th>Fuel demand</th>
            </tr>
            <tr v-for="(system,index) in i.heating_systems">
                <td>{{ index }}</td>
                <td><input v-model.value="system.share" type="text" @change="update" style="width:70px"  autocomplete="off" itype="%" /></td>
                <td>{{ o.heating_systems[index].heat_demand | format_energy }} <span class="unit">TWh/yr</span></td>
                <td><input v-model.value="system.efficiency" type="text" @change="update" style="width:70px"  autocomplete="off" itype="%" /></td>
                <td>{{ o.heating_systems[index].fuel_demand | format_energy }} <span class="unit">TWh/yr</span></td>
            </tr>
        </table>
    
        <table class="table" style="width:100%">
        <tr>
            <td>Heat storage enabled?</td>
            <td><input v-model="i.heatstore.enabled" type="checkbox" @change="update" style="width:70px"  autocomplete="off" /></td>
        </tr>      
        <tr v-if="i.heatstore.enabled">
            <td>Heat store storage capacity</td>
            <td><input v-model.value="i.heatstore.storage_capacity" type="text" @change="update" style="width:70px"  autocomplete="off" /> GWh therm</td>
        </tr>
        <tr v-if="i.heatstore.enabled">
            <td>Heat store charging capacity</td>
            <td><input v-model.value="i.heatstore.charge_capacity" type="text" @change="update" style="width:70px"  autocomplete="off" /> GW therm</td>
        </tr>
        </table>
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>TRANSPORT</b></div>
    <div class="inner">
        
        <div style="font-size:14px">
        There is an extended discussion of the following transport model here: <a href="https://trystanlea.org.uk/transport_notes">Blog: transport notes</a>.<br><br>
        
        The mechanical kWh per person km at full occupancy is based on a calculated fleet average, given real world data on a range of available vehicles today. Electric vehicles include battery charging, motor inverter and motor losses. Hydrogen include: fuel cell, transportation, compression, motor & inverter losses. Internal combustion engines include engine losses.<br><br>
        
        Miles travelled per transport mode include a reduction in total miles travelled per person and modal shifts towards more public transport, cycling and less aviation. For comparison you might like to try entering the miles per person in 2016 to see the result without these changes: Walking:198, Cycling:48, Rail:754, Bus:325, Motorbike:46, Cars&Vans:6299, Aviation:3438<br><br>
        
        Load factors for each transport mode are also increased. The 2016 load factors for comparison are:<br>Rail:0.324, Bus:0.1432, Motorbike:1.071, Cars&Vans:0.3288, Aviation:0.85
        
        </div><br>
        
        Miles travelled per transport mode:<br><br>
        
        <table class="table" style="width:100%">
        <tr><th v-for="(mode,key) in i.transport.modes">{{ key }}</th></tr>
        <tr><td v-for="(mode,key) in i.transport.modes"><input v-model.number="mode.miles_pp" type="text" @change="update" /></td></tr>                
        <tr><td v-for="(mode,key) in i.transport.modes">{{ mode.km_pp | toFixed(0) }} <span class="unit">km</span></td></tr>                
        <tr>
          <td>Mechanical</td>
          <td><span class="unit">kWh/p.km full</span></td>
          <td v-for="(mode,key) in i.transport.modes" v-if="mode.mechanical_kwhppkm_full!=undefined">{{ mode.mechanical_kwhppkm_full | toFixed(3) }}</td>
        </tr>
        <tr>
          <td>Electric</td>
          <td><span class="unit">kWh/p.km full</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.EV!=undefined">{{ mode.EV.kwhppkm_full | toFixed(3) }}</td>
          <td v-else></td>
        </tr>
        <tr>
          <td>Hydrogen</td>
          <td><span class="unit">kWh/p.km full</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.H2!=undefined" >{{ mode.H2.kwhppkm_full | toFixed(3) }}</td>
          <td v-else></td>
        </tr>    
        <tr>
          <td>ICE</td>
          <td><span class="unit">kWh/p.km full</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.IC!=undefined">{{ mode.IC.kwhppkm_full | toFixed(3) }}</td>
          <td v-else></td>
        </tr>
        <tr>
          <td>Load factor</td>
          <td></td>
          <td v-for="(mode,key) in i.transport.modes" v-if="mode.load_factor!=undefined"><input v-model.number="mode.load_factor" type="text" @change="update" /></td>
        </tr>            
        <tr>
          <td>Electric</td>
          <td><span class="unit">kWh/p.km</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.EV!=undefined">{{ mode.EV.kwhppkm | toFixed(3) }}</td>
          <td v-else></td>
        </tr>
        <tr>
          <td>Hydrogen</td>
          <td><span class="unit">kWh/p.km</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.H2!=undefined" >{{ mode.H2.kwhppkm | toFixed(3) }}</td>
          <td v-else></td>
        </tr>    
        <tr>
          <td>ICE</td>
          <td><span class="unit">kWh/p.km</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.IC!=undefined">{{ mode.IC.kwhppkm | toFixed(3) }}</td>
          <td v-else></td>
        </tr>
        <tr>
          <td>Prc electric</td>
          <td></td>
          <td v-for="(mode,key) in i.transport.modes" v-if="mode.prc!=undefined"><input v-model.number="mode.prc.EV" type="text" @change="update" /></td>
        </tr>                
        <tr>
          <td>Prc hydrogen</td>
          <td></td>
          <td v-for="(mode,key) in i.transport.modes" v-if="mode.prc!=undefined"><input v-model.number="mode.prc.H2" type="text" @change="update" /></td>
        </tr>                
        <tr>
          <td>Prc synth fuel</td>
          <td></td>
          <td v-for="(mode,key) in i.transport.modes" v-if="mode.prc!=undefined"><input v-model.number="mode.prc.IC" type="text" @change="update" /></td>
        </tr>                
        <tr>
          <td>Electric</td>
          <td><span class="unit">TWh national</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.EV!=undefined">{{ mode.EV.TWh | toFixed(1) }}</td>
          <td v-else></td>
        </tr>
        <tr>
          <td>Hydrogen</td>
          <td><span class="unit">TWh national</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.H2!=undefined" >{{ mode.H2.TWh | toFixed(1) }}</td>
          <td v-else></td>
        </tr>    
        <tr>
          <td>ICE</td>
          <td><span class="unit">TWh national</span></td>
          <td v-for="(mode,key) in o.transport.modes" v-if="mode.IC!=undefined">{{ mode.IC.TWh | toFixed(1) }}</td>
          <td v-else></td>
        </tr>
        </table>
        
        <table class="table" style="width:100%">
          <tr>
            <td>Rail freight electricity demand</td>
            <td><input v-model.number="i.transport.rail_freight_elec_demand" type="text" @change="update" /> <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Freight battery EV electricity demand</td>
            <td><input v-model.number="i.transport.freight_BEV_demand" type="text" @change="update" /> <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Freight hydrogen demand</td>
            <td><input v-model.number="i.transport.freight_H2_demand" type="text" @change="update" /> <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Freight synth fuel demand</td>
            <td><input v-model.number="i.transport.freight_IC_demand" type="text" @change="update" /> <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Total transport BEV electricity demand</td>
            <td>{{ o.transport.fuel_totals.BEV | toFixed(1) }} <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Total transport direct electricity demand (trains)</td>
            <td>{{ o.transport.fuel_totals.DEV | toFixed(1) }} <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Total transport hydrogen demand</td>
            <td>{{ o.transport.fuel_totals.H2 | toFixed(1) }} <span class="unit">TWh/yr</span></td>
          </tr>
          <tr>
            <td>Total transport synth fuel demand</td>
            <td>{{ o.transport.fuel_totals.IC | toFixed(1) }} <span class="unit">TWh/yr</span></td>
          </tr>
        </table>
    
        <table class="table" style="width:100%">
        <tr>
            <td>Total useable EV battery capacity</td>
            <td><input v-model.value="i.transport.electric_car_battery_capacity" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
        </tr>
        <tr>
            <td>Maximum rate of charge</td>
            <td><input v-model.value="i.transport.electric_car_max_charge_rate" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
        </tr>
        <tr>
            <td>Enable smart charging?</td>
            <td><select v-model.value="i.transport.smart_charging_enabled" autocomplete="off" @change="update">
                    <option value=1>Enabled</option>
                    <option value=0>Disabled</option>
            </select></td> 
        </tr>
        <tr>
            <td>Smart charging algorithm</td>
            <td><select v-model.value="i.transport.smart_charge_type" autocomplete="off" @change="update">
                    <option value=average>Deviation from mean (peaker)</option>
                    <option value=flatout>Flat out (basic)</option>
            </select></td>
        </tr> 
        <tr>
            <td>Enable vehicle to grid?</td>
            <td><select v-model.value="i.transport.V2G_enabled" autocomplete="off" @change="update">
                    <option value=1>Enabled</option>
                    <option value=0>Disabled</option>
            </select></td> 
        </tr> 
        <tr>
            <td>Vehicle to grid discharge algorithm</td>
            <td><select v-model.value="i.transport.V2G_discharge_type" autocomplete="off" @change="update">
                    <option value=average>Deviation from mean (peaker)</option>
                    <option value=flatout>Flat out (basic)</option>
            </select></td>
        </tr>
        </table>
        
         <div style="font-size:14px"><i>See notes on sythetic fuel production using fischer-tropsch process here <a href="https://trystanlea.org.uk/zcb_fischer_tropsch">https://trystanlea.org.uk/zcb_fischer_tropsch</a></i></div>
        
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>INDUSTRIAL (& cooking) FUEL INPUTS</b></div>
    <div class="inner">
        <div style="font-size:14px">
        Industrial energy demand is based on 2007 levels adjusted for 2030 population (1.15x) and a 25% reduction in energy intensity. E.g High temp heat was 57 TWh in 2007 x 1.15 x 0.75 = 49.16 TWh. Actual industrial energy demand in 2017 was 256 TWh consisting of: High temp: 41 TWh, Low temp: 82 TWh, Non heat + other: 133 TWh. 11% less than projected scenario demand for 2030.
        <br><br>
        Industrial energy use is dealt with in the scenario at a high level and a cautious approach is taken. Industry energy demand is an area highlighted for further research within the ZeroCarbonBritain scenario.
        
        </div><br>
        
        <table class="table" style="width:100%">
        <!--
        <tr>
          <th></th>
          <th>Electricity<br>(TWh/yr)</th>
          <th>Biogas direct<br>(TWh/yr)</th>
          <th>Biomass direct<br>(TWh/yr)</th>
          <th>Biogas CHP<br>(TWh/yr)</th>
          <th>Biomass CHP<br>(TWh/yr)</th>
          <th>Total</th>
        </tr>-->
        <tr>
          <th></th>
          <th>Process Energy</th>
          <th>Fixed Elec</th>
          <th>Fixed Gas</th>
          <th>Fixed Biomass</th>
          <th>DSR</th>
        </tr>
        <tr>
            <td>High temp process</td>
            <td><input v-model.value="i.annual_high_temp_process" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td><input v-model.value="i.high_temp_process_fixed_elec_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
            <td><input v-model.value="i.high_temp_process_fixed_gas_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
            <td><input v-model.value="i.high_temp_process_fixed_biomass_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
            <td><input v-model.value="i.high_temp_process_DSR_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
        </tr>
        <tr>
            <td>Low temp drying & separation</td>
            <td><input v-model.value="i.annual_low_temp_dry_sep" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td><input v-model.value="i.low_temp_process_fixed_elec_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
            <td><input v-model.value="i.low_temp_process_fixed_gas_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
            <td><input v-model.value="i.low_temp_process_fixed_biomass_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
            <td><input v-model.value="i.low_temp_process_DSR_prc" type="text" @change="update" style="width:70px"  autocomplete="off" /> %</td>
        </tr>
        <tr>
          <th></th>
          <th>Elec</th>
          <th>Gas</th>
          <th>Biomass</th>
          <th>Biofuel</th>
          <th></th>
        </tr>
        <tr>
            <td>Non heat process</td>
            <td><input v-model.value="i.annual_non_heat_process_elec" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td><input v-model.value="i.annual_non_heat_process_biogas" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td><input v-model.value="i.annual_non_heat_process_biomass" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td><input v-model.value="i.industrial_biofuel" type="text" @change="update" style="width:70px"  autocomplete="off" /> TWh</td>
            <td></td>
        </tr>
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td>Total demand by fuel</td>
            <td>{{ o.total_industrial_elec_demand*0.0001 | toFixed(0) }} TWh</td>
            <td>{{ o.total_industrial_methane_demand*0.0001 | toFixed(0) }} TWh</td>
            <td>{{ o.total_industrial_biomass_demand*0.0001 | toFixed(0) }} TWh</td>
            <td>{{ o.total_industrial_liquid_demand*0.0001 | toFixed(0) }} TWh</td>
            <td></td>
        </tr>
        </table>
        <div style="font-size:14px"><i>High and low temp DSR implements a substitutable heat source, direct electricity is used when excess renewable energy is available, synthetic gas is used when direct electricity supply is not sufficient. Breakdown of demand by fuel type is detailed in the ZCB matrix spreadsheet.</i></div>
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>STORAGE & BACKUP</b></div>
    <div class="inner">
        <div style="font-size:14px">
        Select dispatchable generation capacity to meet bulk of backup requirement. Tune electrolysis & methanation capacity and respective storage capacities to meet given hydrogen, synth fuel and synthetic methane demand. Select 'Stores' tab above to see store levels, ensure that the stores dont get depleted or over-fill. 50 GWh of generic storage is equivalent to a ~1.7 kWh battery store per household.<br><br>
        For background notes on the sabatier process see:<br> <a href="https://trystanlea.org.uk/zcb_sabatier_process">https://trystanlea.org.uk/zcb_sabatier_process</a>
        </div><br>
        <table class="table" style="width:100%">
        <tr>
            <th></th>
            <th>Capacity</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td style="width:55%">Dispatchable generation<br><span style="font-size:12px"><i>E.g High efficiency and high flexibility CCGT gas turbines</i></span></td>
            <td><input v-model.value="i.electric_backup.methane_turbine_capacity" type="text" @change="update" style="width:70px"  autocomplete="off"/> GW</td>
            <td style="text-align:right">Efficiency</td>
            <td><input v-model.value="i.electric_backup.methane_turbine_efficiency" type="text" @change="update" style="width:70px"  autocomplete="off"/> (HHV)</td>              
        </tr>
        <tr>
            <td>Electrolysis</td>
            <td><input v-model.value="i.electrolysis_cap" type="text" @change="update" style="width:70px"  autocomplete="off"/> GW</td>
            <td style="text-align:right">Efficiency</td>
            <td><input v-model.value="i.electrolysis_eff" type="text" @change="update" style="width:70px"  autocomplete="off"/> (HHV)</td>
        </tr>
        <tr>
            <td>Hydrogen storage<br><span style="font-size:12px"><i>GWh chemical energy HHV</i></span></td>
            <td><input v-model.value="i.hydrogen_storage_cap" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
            <td style="text-align:right">Lower limit</td>
            <td><input v-model.value="i.minimum_hydrogen_store_level" type="text" @change="update" style="width:70px"  autocomplete="off"/> (Fraction)</td>            
        </tr>
        <tr>
            <td>Methanation (without heat integration)<br><span style="font-size:12px"><i>Capacity given is for H2 feed to process</i></span></td>
            <td><input v-model.value="i.methane.methanation_capacity" type="text" @change="update" style="width:70px"  autocomplete="off"/> GW</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Power to X: Methane and Liquids overall capacity</td>
            <td><input v-model.value="i.power_to_X.capacity" type="text" @change="update" style="width:70px"  autocomplete="off"/> GW (elec)</td>
            <td></td>
            <td></td>            
        </tr>
        <tr>
            <td>Power to X: Methane<br>
            <span style="font-size:12px"><i>E.g Helmeth SOEC technology. Includes DAC of CO2 using waste heat.</i></span>
            </td>
            <td><input v-model.value="i.power_to_X.prc_gas" type="text" @change="update" style="width:70px"  autocomplete="off"/> %</td>
            <td style="text-align:right">Efficiency</td>
            <td><input v-model.value="i.power_to_X.gas_efficiency" type="text" @change="update" style="width:70px"  autocomplete="off"/> (HHV)</td>            
        </tr>
        <tr>
            <td>Power to X: Liquids<br>
            <span style="font-size:12px"><i>'E.g Power-to-Liquids Potentials and Perspectives for the Future Supply of Renewable Aviation Fuel'</i></span>
            </td>
            <td><input v-model.value="i.power_to_X.prc_liquid" type="text" @change="update" style="width:70px"  autocomplete="off"/> %</td>
            <td style="text-align:right">Efficiency</td>
            <td><input v-model.value="i.power_to_X.liquid_efficiency" type="text" @change="update" style="width:70px"  autocomplete="off"/> (HHV)</td>            
        </tr>
        <tr>
            <td>Methane storage<br><span style="font-size:12px"><i>GWh chemical energy HHV</i></span></td>
            <td><input v-model.value="i.methane.storage_capacity_GWh" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
            <td style="text-align:right">Store start</td>
            <td><input v-model.value="i.methane.SOC_start" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
        </tr>
        <tr>
            <td>Synth Fuel<br><span style="font-size:12px"><i>Capacity given is for H2 feed to process</i></span></td>
            <td><input v-model.value="i.synth_fuel.capacity_GW" type="text" @change="update" style="width:70px"  autocomplete="off"/> GW</td>
            <td style="text-align:right">Store start</td>
            <td><input v-model.value="i.synth_fuel.store_start_GWh" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
        </tr>
        <tr>
            <td>FT process: biomass required</td>
            <td><input v-model.value="i.synth_fuel.FT_process_biomass_req" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh/GWh fuel</td>
            <td>FT process: hydrogen required</td>
            <td><input v-model.value="i.synth_fuel.FT_process_hydrogen_req" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh/GWh fuel</td>
        </tr>
        <tr>
            <td>Generic energy store<br><span style="font-size:12px"><i>E.g High efficiency lithium ion, flow batteries etc</i></span></td>
            <td><input v-model.value="i.elec_store_storage_cap" type="text" @change="update" style="width:70px"  autocomplete="off"/> GWh</td>
            <td style="text-align:right">Charge rate</td>
            <td><input v-model.value="i.elec_store_charge_cap" type="text" @change="update" style="width:70px"  autocomplete="off"/> GW</td>            
        </tr>
        <tr>
            <td>Enable electricity storage?</td>
            <td><select v-model.value="i.elec_store_type" autocomplete="off" @change="update">
                    <option value="nostore">No storage</option>
                    <option value="basic">Basic, flat out</option>
                    <option value="average">Proportional: average</option>
                </select></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Use flat demand profiles</td>
            <td><select v-model.value="i.use_flat_profiles" autocomplete="off" @change="update">
                    <option value=0>Default (variable profiles)</option>
                    <option value=1>Flat demand profile</option>
                </select></td>
            <td></td>
            <td></td>
        </tr>
        </table>
    </div>
</div>

<div class="box">
    <div class="box-title">
        <img class="icon-expand" src="img/expand.png"><b>FINAL SUPPLY DEMAND MATCHING
        <span style="float:right">{{ o.final_elec_balance_positive_prc | toFixed(3) }}%</span>
        </b>
    </div>
    <div class="inner" style="display:block">

        <div id="stacks_bound" style="width:450; height:530; float:left;">
            <canvas id="stacks" width="450" height="530"></canvas>
        </div>
        
        <div style="float:left; width:35%;">
            <p style="font-size:18px">Total supply: {{ o.total_supply*0.0001 | toFixed(0) }} TWh</p>
            <p style="font-size:18px">Total demand: {{ o.total_demand*0.0001 | toFixed(0) }} TWh</p>
            <p style="font-size:18px">Primary energy factor: {{ o.primary_energy_factor | toFixed(2) }}</p>
            <p style="font-size:18px">Exess generation: {{ o.total_exess*0.0001 | toFixed(0) }} TWh</p>
            <p style="font-size:18px">Unmet demand: {{ o.total_unmet_demand*0.0001 | toFixed(3) }} TWh</p>
        </div>
        
        <div style="clear:both"></div>
        
        Energy stack units: 
        <select v-model.value="i.units_mode" autocomplete="off" @change="update">
            <option value="national">National TWh/yr</option>
            <option value="kwhdperhousehold">kWh/d per household</option>
            <option value="kwhdperperson">kWh/d per person</option>
        </select> 

        <p><b>Comparison table for direct reference with original spreadsheet</b></p>
        
        <table class="table" style="width:100%">
        <tr>
            <th></th>
            <th>hours</th>
            <th>percent</th>
            <th>TWh/yr</th>
        </tr>
        <tr>
            <td>Total hours of simulation</td>
            <td>{{ i.hours }}</td>
            <td>100%</td>
            <td></td>
        </tr>
        <tr>
            <td>Initial el. balance positive</td>
            <td>{{ o.initial_elec_balance_positive }}</td>
            <td>{{ o.initial_elec_balance_positive_prc | toFixed(1) }}%</td>
            <td>{{ o.total_initial_elec_balance_positive | toFixed(1) }}</td>
        </tr>
        <tr>
            <td>Final el. balance negative</td>
            <td>{{ o.final_elec_balance_negative }}</td>
            <td>{{ o.final_elec_balance_negative_prc | toFixed(1) }}%</td>
            <td>{{ o.total_final_elec_balance_negative | toFixed(3) }}</td>
        </tr>
        <tr>
            <td>Final el. balance positive</td>
            <td>{{ o.final_elec_balance_positive }}</td>
            <td>{{ o.final_elec_balance_positive_prc | toFixed(1) }}%</td>
            <td>{{ o.total_final_elec_balance_positive | toFixed(1) }}</td>
        </tr>
        <tr>
            <td>Unmet heat demand</td>
            <td>{{ o.unmet_heat_demand_count }}</td>
            <td>{{ o.unmet_heat_demand_prc | toFixed(1) }}%</td>
            <td>{{ o.total_unmet_heat_demand | toFixed(1) }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <th>Min</th>
            <th>Min %</th>
            <th>Max</th>
        </tr>
        <tr>
            <td>Hydrogen Store</td>
            <td>{{ o.min_hydrogen_SOC | toFixed(0) }} GWh</td>
            <td>{{ o.min_hydrogen_SOC_prc | toFixed(1) }}%</td>
            <td>{{ o.max_hydrogen_SOC | toFixed(0) }} GWh</td>
        </tr>
        <tr>
            <td>Liquid fuel Store</td>
            <td>{{ o.min_synth_fuel_store_SOC | toFixed(0) }} GWh</td>
            <td>{{ o.min_synth_fuel_store_SOC_prc | toFixed(1) }}%</td>
            <td>{{ o.max_synth_fuel_store_SOC | toFixed(0) }} GWh</td>
        </tr>
        <tr>
            <td>Methane Store</td>
            <td>{{ o.min_methane_SOC | toFixed(0) }} GWh</td>
            <td>{{ o.min_methane_SOC_prc | toFixed(1) }}%</td>
            <td>{{ o.max_methane_SOC | toFixed(0) }} GWh</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <th>Production</th>
            <th>Demand</th>
            <th></th>
        </tr>
        <tr>
            <td>Hydrogen</td>
            <td>{{ o.total_hydrogen_produced*0.0001 | toFixed(1) }}</td>
            <td>{{ o.total_hydrogen_demand*0.0001 | toFixed(1) }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Liquid fuel</td>
            <td>{{ o.total_synth_fuel_produced*0.0001 | toFixed(1) }}</td>
            <td>{{ o.total_synth_fuel_produced*0.0001 | toFixed(1) }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Methane</td>
            <td>{{ o.total_methane_made*0.0001 | toFixed(1) }}</td>
            <td>{{ o.total_methane_demand*0.0001 | toFixed(1) }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Hydrogen Electrolysis capacity factor</td>
            <td>{{ o.electrolysis_capacity_factor | toFixed(1) }}%</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Power-to-X capacity factor</td>
            <td>{{ o.power_to_X_capacity_factor | toFixed(1) }}%</span></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Biomass for biogas (includes biomass from wastes)</td>
            <td>{{ i.biomass_for_biogas | toFixed(1) }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Of which rotational grasses (e.g ryegrass)</td>
            <td>{{ o.grass_biomass_for_biogas | toFixed(1) }}</td>
            <td>{{ o.grass_landarea_for_biogas | toFixed(1) }} Mha</td>
            <td>{{ o.grass_prc_landarea_for_biogas | toFixed(1) }}% of UK</td>
        </tr>
        <tr>
            <td>Biomass for synth fuel (e.g SRC, miscanthus)</td>
            <td>{{ o.total_synth_fuel_biomass_used | toFixed(1) }}</td>
            <td>{{ o.landarea_for_synth_fuel | toFixed(1) }} Mha</td>
            <td>{{ o.prc_landarea_for_synth_fuel | toFixed(1) }}% of UK</td>
        </tr>
        <tr>
            <td>Biomass direct heat (SRF & SRC)</td>
            <td>{{ o.total_other_biomass_used | toFixed(1) }}</td>
            <td>{{ o.landarea_for_other_biomass | toFixed(1) }} Mha</td>
            <td>{{ o.prc_landarea_for_other_biomass | toFixed(1) }}% of UK</td>
            <td></td>
        </tr>
        <tr>
            <td>All input biomass energy</td>
            <td>{{ o.total_biomass_used | toFixed(1) }}</td>
            <td>{{ o.landarea_for_biomass | toFixed(1) }} Mha</td>
            <td>{{ o.prc_landarea_for_biomass | toFixed(1) }}% of UK</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Electricity from dispatchable (TWh)</td>
            <td>{{ o.total_electricity_from_dispatchable | toFixed(1) }}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Max Dispatchable Output (GW)</td>
            <td>{{ o.max_dispatchable_capacity | toFixed(1) }} GW</td>
            <td>{{ o.max_dispatchable_capacity_date }}</td>
            <td></td>
        </tr>
        <tr>
            <td>Max Electricity Shortfall (GW)</td>
            <td>{{ o.max_shortfall | toFixed(1) }} GW</td>
            <td>{{ o.max_shortfall_date }}</td>
            <td></td>
        </tr>
        </table>
        <div style="font-size:14px">Note: The main ZCB scenario targets a 99.9% supply/demand matching level. Note that the max short fall with dispatchable capacity sized to meet this matching level can be quite high. There are several limitations with the model that could in reality reduce this maximum shortfall without increasing the capacity of dispatchable generation, including more sophisticated battery storage algorithms and higher levels of demand-side-response.</div>
    </div>
</div>

<div class="box">
    <div class="box-title">
        <img class="icon-expand" src="img/expand.png"><b>SCALED TO VILLAGE, TOWN, CITY or COUNTRY
        </b>
    </div>
    <div class="inner">
        
        <table><tr>
        <td>Number of households:</td>
        <td><input v-model.value="i.number_of_households" type="text" @change="update" style="width:100px"  autocomplete="off"/></td>
        </tr></table>
        <br>
        <table>
            <tr><th>Supply</th><th width="100px"></th><th>Storage, Gas & Liquids</th><th width="100px"></th></tr>
            <tr>
                <td>Onshore Wind</td><td v-html="auto_scale(o.scaled.onshorewind_capacity,'kW')"></td>
                <td>Electrolysis capacity</td><td v-html="auto_scale(o.scaled.electrolysis_capacity,'kW')"></td>
                <td>Hydrogen storage</td><td v-html="auto_scale(o.scaled.hydrogen_storage_cap,'kWh')"></td>
            </tr>
            <tr>
                <td>Offshore Wind</td><td v-html="auto_scale(o.scaled.offshorewind_capacity,'kW')"></td>
                <td>Methanation capacity</td><td v-html="auto_scale(o.scaled.methanation_capacity,'kW')"></td>
                <td>IHTEM capacity</td><td v-html="auto_scale(o.scaled.IHTEM_cap,'kW')"></td>
            </tr>
            <tr>
                <td>Solar PV</td><td v-html="auto_scale(o.scaled.solarpv_capacity,'kW')"></td>
                <td>Methane storage</td><td v-html="auto_scale(o.scaled.methane_store_capacity,'kWh')"></td>
                <td>Biomass land area</td><td v-html="auto_scale(o.scaled.landarea_for_biomass,'m2')"></td>
            </tr>
            <tr>
                <td>Hydro</td><td v-html="auto_scale(o.scaled.hydro_capacity,'kW')"></td>
                <td>Synth fuel prod capacity</td><td v-html="auto_scale(o.scaled.synth_fuel_capacity,'kW')"></td>
            </tr>
            
            <tr>
                <td>Wave</td><td v-html="auto_scale(o.scaled.wave_capacity,'kW')"></td>
                <td>Elec storage cap</td><td v-html="auto_scale(o.scaled.elec_store_storage_cap,'kWh')"></td>
            </tr>
            <tr>
                <td>Tidal</td><td v-html="auto_scale(o.scaled.tidal_capacity,'kW')"></td>
                <td>BEV storage cap</td><td v-html="auto_scale(o.scaled.electric_car_battery_capacity,'kWh')"></td>
            </tr>
            <tr>
                <td>Nuclear</td><td v-html="auto_scale(o.scaled.nuclear_capacity,'kW')"></td>

            </tr>
            <tr>
                <td>CCGT Backup</td><td v-html="auto_scale(o.scaled.CCGT_capacity,'kW')"></td>

            </tr>
        </table>
        
        <div style="clear:both"></div>
    </div>
</div>

<div class="box">
    <div class="box-title"><img class="icon-expand" src="img/expand.png"><b>MANUFACTURING ENERGY<span style="float:right">{{ o.total_embodied_energy | toFixed(1) }} TWh/yr</span></b></div>
    <div class="inner">
        <div style="font-size:14px">Industrial energy use is dealt with above at a high level and a cautious approach is taken. It is part of the scenario that we would like to develop in more detail. The following makes a start on exploring the manufacturing energy required to build key elements of the renewable energy supply infrastructure: Offshore wind, Onshore wind and Solar PV. We can get an initial indication from this of the proportion of the total industrial energy demand modelled above that would relate to the manufacture of these technologies.<br><br>For more detail on the calculations below including sources see <a href="https://trystanlea.org.uk/zcb_industry">https://trystanlea.org.uk/zcb_industry</a></div><br>
        
        <table style="width:100%">
        <tr><th></th><th>Embodied Energy</th><th>Lifespan</th><th>Annual Demand</th></tr>
        <tr>
            <td>Offshore wind</td>
            <td><input v-model.value="i.EE.offshorewind_GWh_per_GW" type="text" @change="update" style="width:50px"  autocomplete="off"/> GWh/GW</td>
            <td><input v-model.value="i.EE.offshorewind_lifespan" type="text" @change="update" style="width:40px"  autocomplete="off"/> years</td>
            <td>{{ o.EE.offshorewind | toFixed(1) }} TWh/yr</span></td>
        </tr>
        <tr>
            <td>Onshore wind</td>
            <td><input v-model.value="i.EE.onshorewind_GWh_per_GW" type="text" @change="update" style="width:50px"  autocomplete="off"/> GWh/GW</td>
            <td><input v-model.value="i.EE.onshorewind_lifespan" type="text" @change="update" style="width:40px"  autocomplete="off"/> years</td>
            <td>{{ o.EE.onshorewind | toFixed(1) }} TWh/yr</span></td>
        </tr>
        <tr>
            <td>Solar PV</td>
            <td><input v-model.value="i.EE.solarpv_GWh_per_GW" type="text" @change="update" style="width:50px"  autocomplete="off"/> GWh/GW</td>
            <td><input v-model.value="i.EE.solarpv_lifespan" type="text" @change="update" style="width:40px"  autocomplete="off"/> years</td>
            <td>{{ o.EE.solarpv | toFixed(1) }} TWh/yr</span></td>
        </tr>
        <!--<tr><td>Lithium Ion Store</td><td>{{ o.EE_liion_store | toFixed(1) }} TWh/yr</span></td></tr>
        <tr><td>Electric Vehicle Battery</td><td>{{ o.EE_ecarbattery | toFixed(1) }} TWh/yr</span></td></tr>
        <tr><td>Electric Vehicle (rest)</td><td>{{ o.EE_ecar | toFixed(1) }} TWh/yr</span></td></tr>-->
        <tr><td>Total Annual Demand</td><td>{{ o.total_embodied_energy | toFixed(1) }} TWh/yr</span> ({{ o.prc_of_industry_demand | toFixed(1) }}%</span> of industry demand)</td></tr>
        </table>
        <div style="float:left; width:45%">
      
        </div>
        <div style="clear:both"></div>
    </div>
</div>

</div>
